<div id="left-info">
  <div id="title-header">
    <h5>Random places.</h5>
  </div>
  <div id="package-name">
      <h1>Medell&iacute;n</h1>
      <p>Have a real good time going through the city with your starts on bright.</p>
  </div> 
</div>
<div id="section-video">
  <vg-player>
      <vg-overlay-play></vg-overlay-play>
      <video [vgMedia]="media" #media id="index-video" preload="auto">
          <source src="../../assets/videos/20180228.mp4" type="video/mp4">
      </video>
  </vg-player>
</div>
<div id="package-info">
  <div>
    <i class="material-icons md-36">arrow_downward</i>
  </div>
  <div>
    <h6>PLACE</h6>
    <span>Metro station</span>
  </div>
  <div>
    <h6>WHERE</h6>
    <span>Medell&iacute;n</span>
  </div>
  <div>
    <h6>CONTENT</h6>
    <span>#train #people</span>
  </div>
</div>